USE [master]
GO
/****** Object:  Database [VhaStudent2410900007Db]    Script Date: 26/09/2026 8:48:49 SA ******/
CREATE DATABASE [VhaStudent2410900007Db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VhaStudent2410900007Db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\VhaStudent2410900007Db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VhaStudent2410900007Db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\VhaStudent2410900007Db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VhaStudent2410900007Db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VhaStudent2410900007Db]
GO
/****** Object:  Table [dbo].[VhaStudent]    Script Date: 26/09/2026 8:48:50 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VhaStudent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VhaName] [nvarchar](100) NOT NULL,
	[VhaGender] [bit] NOT NULL,
	[VhaBirthDay] [date] NULL,
	[VhaEmail] [varchar](100) NULL,
	[VhaPhone] [varchar](15) NULL,
	[VhaActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VhaStudent] ADD  DEFAULT ((1)) FOR [VhaActive]
GO
USE [master]
GO
